body {
    background-color: rgb(116, 165, 127);
    color: rgb(62, 88, 67);
}

header,
footer {
    background-color: rgb(192, 229, 201);
}

h1 {
    background-color: rgb(192, 229, 201);
    color: rgb(116, 165, 127);
    text-shadow: 0.5px 0.5px 1px rgb(0, 0, 0);
}

h2 {
    color: rgb(196, 228, 203);
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cont {
    color: rgb(196, 228, 203);
}

.preview {
    height: 200px;
}

img {
    max-width: 100%;
}

.droite {
    text-align: right;
}

form {
    display: flex;
    padding: 1%;
    align-items: center;
}